*.o
*.objdump
clone_test
counter
dump_context
dump_env
fusedosfs_test
hello_world
kernel_spi_test
l2atomicstest
memeater
mpi_helloworld
omp_ex1
pthread_prodcons
pthread_tally
pthread_test
query_free_fifos
shm_test
